// Пример подключения шрифта (детальнее в файле миксинов):
// @include font-face("Roboto", "../fonts/Roboto-Regular", 400);

.page-html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.page-body {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #f00;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

input {
  font: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
