:root {
  --color-white: #fff;
  --color-black: #000;

  // fonts
  --font-primary: "Font", "Arial", sans-serif;

  // breakpoints
  --xs: 375px;
  --sm: 576px;
  --tablet: 768px;
  --desktop-sm: 992px;
  --desktop-md: 1200px;
  --desktop-lg: 1400px;
}
